BasedOnStyle: LLVM
UseTab: Always
TabWidth: 2
IndentWidth: 2
ColumnLimit: 80
BreakBeforeBraces: Allman
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInAngles: false
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: true
Cpp11BracedListStyle: false
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AlignTrailingComments: true
BinPackParameters: true
BinPackArguments: true
BreakBeforeTernaryOperators: true
PointerAlignment: Left
